* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #344e41;
    height: 100vh;
    font-family: sans-serif;
}

form {
    width: 320px;
    padding: 10px;
    color: #ffffff;
    background-color: #588157;
    border-radius: 0.5rem;
}

.flex-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form.flex-con{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;
}